/* 1.- se define el texto al que le agregaremos el estilo
*Color 
*Text-align: se usa para alinear
*Height
*widht
*background-color
*margin: margen fuera de los elementos en todos los lados
*padding: margen dentro del elemento
 -top: margen arriba
 -bottom: margen abajo
 -left
 -right
*font: propiedades del texto
 -size: tamaño
 -weight: grosor
 -style: estilo
 -family: familia de fuentes */

h1 {
    color:tomato; 
    text-align: center;  
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 700;
    font-style: italic;
    text-decoration: underline royalblue;
    text-transform: uppercase;
}

div {
    color: white;
    height: 500px;
    width: 800px;
    margin-top: 20px;
    margin-left: 50px;
    padding: 20px;
}

/* Se hace referencia a la classe de los div */
.uno {
    background-image: url('../images/Clancy.jpg');
    background-size: cover;
    background-position: center;
}

.dos {
    background-color: teal;
}